/* all container same styles here added  */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Ibarra+Real+Nova:wght@400;500;600&family=Poppins:wght@500&display=swap');

body{
   font-family: 'Cormorant SC', serif;
}


/* header main part section styles here  */

header{
   margin-bottom: 100px;
}

.container{
   display:flex;
   width: 100%;
   height: 610px;
   background-color: black;
   color: white;
   border-radius: 15px;   
   padding: 40px;
}

.container .first-section{
   width: 50%;
   margin-right: 60px;
}

.header-title h1{
   font-size: 45px;
}

.header-title a{
   text-decoration: none;
   background-color: red;
   color: white;
   padding: 10px 15px;
   border-radius: 5px;
}
.container .second-section{
   width: 50%;
}

.second-section img{ 
   width: 95%;
}


/* -------------------------------
   match update form styles here  
   -------------------------------*/

   .two-parent{
      display: flex;
      margin-bottom: 100px;
   }

   .two-parent .match-live-section{
      width: 20%;
      margin-right: 2%;
   }

   .two-parent .all-player-biography{
      width: 70%;
   }
   .match-live-section{
      background-color: black;
      color: white;
      border-radius: 10px;
      width: 250px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .match-update-part p{
      background-color: ghostwhite;
      color:black;
      margin: 30px 55px;
      padding: 5px;
      border-radius: 10px;
   }

   .match-update-part a{
      text-decoration: none;
      background-color: ghostwhite;
      color:black;
   }
   .grid-dea{
      width: 312px;
      height: 362px;
      box-shadow: 10px 10px 10px darkgrey;
   }

   .all-player-biography{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 20px;
      
   }

   .player-contact{
      padding: 15px;
   }

   .player-walking{
      display: flex;
      justify-content: space-between;
   }


   /* footer part styeles */

   .view-all-button{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      
   }

   .view-all-button a {
      text-decoration: none;
      background-color: rgb(247, 87, 87);
      padding: 10px 20px;
      color:aliceblue;
      font-size: 1.5em;
      border-radius: 8px;
      display: none;
   }

   footer{
      background-color: black;
      color: goldenrod;
      padding: 8rem;
   }

   .footer-title{
      font-size: 2.5em;
      text-align: center;
   }

   .hr{
      width: 90%;
      background-color:springgreen;
   }

   .footer-function{
      display: flex;
      justify-content: center;
   }

   .footer-function a{
      text-decoration: none;
      margin: 1rem;
      color: deepskyblue;
      justify-content: center;
   }

   .footer-icon{
      font-size: 2em;
      padding: 2em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }

   .social-icon{
      height: 20px;
      width: 30px;
      padding: 10px;
      /* margin-left:300px; */
      /* display: flex;
      align-items: center;
      justify-content: center; */
   }


   /* footer styles end here  */

   


   /* -------------------------------------------------
         responsive design para jay kina ektu dekhi  
      -------------------------------------------------*/


  @media screen and (max-width:668px) {
      .container{
         display:grid;
         width: 100%;
         grid-template-columns: repeat(1,1fr);
         background-color: black;
         color: white;
         border-radius: 15px;   
         
         }

         .container .first-section{
            width: 100%;
            
         }

         .container .second-section{
            width: 50%;
            margin-top: 20px;
         }

         .two-parent{
            display: grid;
            
      }

      .two-parent .all-player-biography{
         display: grid;
         grid-template-columns: repeat(1,1fr);
      }

      .footer-function{
         display: flex;
         flex-direction: column;
         align-items: center;
         
      }


   }

   @media screen and (max-width:968px) and (min-width: 669px) {
      
      .two-parent .all-player-biography{
         display: grid;
         grid-template-columns: repeat(2,1fr);
      }
   }